<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Novo Lembrete
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  </ion-header>
  <h1 class="adTitle">Adicionar Lembrete</h1>
  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-item class="lembreItem">
          <div class="lembreContainer">
            <h2>Nome do Lembrete</h2>
            <ion-input fill="outline" placeholder="Ex: Covid-19"></ion-input>
            <h2>Medicamento 1</h2>
            <ion-input fill="outline" placeholder="Nome medicamento"></ion-input>
            <ion-input fill="outline" placeholder="Dosagem (ex: 500mg)"></ion-input>
            <ion-input fill="outline" placeholder="Intervalo (horas)"></ion-input>
            <ion-input fill="outline" placeholder="Duração (dias)"></ion-input>
            <ion-checkbox labelPlacement="start" slot="start" class="medCheckbox">Uso Contínuo</ion-checkbox>
          </div>
        </ion-item>
        <ion-item class="lembreItem">
          <div class="lembreContainer">
            <h2>Medicamento 2</h2>
            <ion-input fill="outline" placeholder="Nome medicamento"></ion-input>
            <ion-input fill="outline" placeholder="Dosagem (ex: 500mg)"></ion-input>
            <ion-input fill="outline" placeholder="Intervalo (horas)"></ion-input>
            <ion-input fill="outline" placeholder="Duração (dias)"></ion-input>
            <ion-checkbox labelPlacement="start" slot="start" class="medCheckbox">Uso Contínuo</ion-checkbox>
          </div>
        </ion-item>
          <ion-button expand="block" color="light">Adicionar Medicamento</ion-button>
          <ion-button expand="block" color="primary">Salvar Lembrete</ion-button>

      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>
